body {
margin: 0;
padding: 0;
background: url(pic1.jpg);
background-size: cover;
background-position: center;
font-family: sans-serif;
}
.Login-box {
width:320px;
height: 430px;
background: #000;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;
}
.avatar {
width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -80px;
left:calc(50% 50px);
padding: 70px;

}
h1 {
margin: 0;
padding: 25 0 10px;
text-align: center;
font-size:22px;

}

.Login-box p {
margin: 0;
padding: 0;
font-weight: bold;
}
.Login-box input {
width: 90%;
margin-bottom: 30px;


}
.Login-box input[type="text"], input[type="password"]{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #fff;
font-size:16px;
}
.Login-box input[type="submit"] {
border: none;
outline: none;
height: 40px;
background: #fc2525;
font-size:18px;
border-radius: 20px;
}
.Login-box input[type="submit"]:hover{
cursor: pointer;
background: #ffc107;
color:#000;
}
.Login-box a {
text-decoration: none;
font-size: 15px;
line-height: 20px;
color:darkgrey;
}
.Login-box a:hover {
color: #ffc107;
}

